/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.layer1 {
    -fx-background-color: #000000;
}
.layer2 {
    -fx-background-color: #212121;
}
.layer3 {
    -fx-background-color: #303030;
}
.layer4 {
    -fx-background-color: #424242;
}

.windowsBar {
	-fx-pref-height: 30px;
}
